.profile {
  width: 25svw;
  max-width: 325px;
  height: 100svh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  
  &__container {
    padding-top: 25px;
    background: rgb(15, 15, 15);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(25, 25, 25, 1) 100%);
    transition: all 1.5s ease; 
    z-index: 9;

    &::after {
      content: '';
      width: 2px;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgb(221, 221, 221) 100%);
      position: absolute;
      top: 0;
      right: -2px;
    }
  }

  @media screen and (max-width: 767px) {
    position: absolute;
    width: 100vw;
    height: auto;
    max-width: 90%;
    min-height: 100%;

    &__container {
      background: #000000;
      box-shadow: 0px 200px 0 #000;
    }
  }

  body.playing.profile-closed & {
    transform: translateX(-120%);
  }

  .profile-closed & .profile__container {
    transform: translateX(-90%);
    box-shadow: none;
    div {
      opacity: 0;
      transition: opacity 1.5s ease; 
    }
    
    @media screen and (max-width: 767px) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(25, 25, 25, 1) 100%);
      transform: translateX(-93%);
    }
  }

  &__btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 0;
    transform: translateX(50%);
    background-color: var(--gray-850);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 50%;
    z-index: 9;

    background-image: url('/src/assets/icon-arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;

    .profile-closed & {
      background-image: url('/src/assets/icon-arrow-right.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70%;
    }
  }

  &__photo-container {
    display: flex;
    justify-content: center;

    img {
      width: 60%;
      height: auto;
    }
  }

  &__description-container {
    margin-top: 25px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    z-index: 9;
    
    p {
      text-align: center;
      margin: 0;
      padding: 0;
      opacity: 1;
      position: relative;

      &[data-transparent="true"]{
        opacity: 0;
      }
      transition: none;

      &[data-typing="finished"]::after{
        content: '';
        height: min(1.55vw, 1.2rem);
        width: 2px;
        background: var(--gray-100);
        position: absolute;
        top: 1px;
        right: -2px;
        animation-name: typeBlinking;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        z-index: 999;
      }

      &[data-typing="ongoing"]::after{
        content: '';
        height: min(1.55vw, 1.2rem);
        width: 2px;
        background: var(--gray-100);
        position: absolute;
        top: 1px;
        right: -2px;
        z-index: 999;
      }

      @keyframes typeBlinking {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
    }
  }

  &__stack-logos-container {
    width: 90%;
    height: auto;
    margin: 25px;
    padding: 10px;
    background: var(--gray-850);
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    gap: 3px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__logos-wrapper{
    position: relative;
    height: 100%;
    width: min(40px, 20%);
    display: flex;
    margin: 0;
    padding: 0;
    transition: transform .5s ease;
    &:hover{
      cursor: pointer;
      transform: translateY(-10%);
      
      &::before{
        content: attr(data-content);
        width: -moz-fit-content;
        width: fit-content;
        height: auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-140%);
        display: block;
        padding: 0 5px;
        border-radius: 2px;
        font-size: .85rem;
        color: black;
        background: var(--gray-100);
        z-index: 999;
        border: 0;
      }

      &::after{
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-120%);
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid var(--gray-100);
        z-index: 900;
      }
    }
  }

  &__menu-accordion {
    width: 100%;
    padding: 0 25px;
    margin-bottom: 50px;
  }

  .accordion {
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    &__item {
      position: relative;
      overflow: hidden;

      &-label{
        cursor: pointer;
        height: 2.5rem;
      }

      &::after{
        content: '';
        cursor: pointer;
        background-image: url('../assets/icon-arrow-down.svg');
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        transform: translateY(-20%);
      }

      &.open::after{
        content: '';
        background-image: url('../assets/icon-arrow-up.svg');
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        transform: translateY(-20%);
      }

      &-content {
        height: 0;
        margin-left: 8px;
        font-size: .9em;
        // letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        a:hover {
          color: #fff;
          text-decoration: underline;
        }
      }

      &.open .accordion__item-content  {
        height: 100%;
        box-sizing: border-box;
        padding-bottom: 15px;
      }
    }
  }
  
}