.timeline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75svw;

  &__screen-container {
    position: relative;
    width: 50svw;
    height: 40svh;
    margin-top: 5svh;
    display: flex;
    justify-content: center;
    

    .screen {
      display: none;
      width: 70%;
      height: 100%;
      box-shadow: 0 0 50px 5px rgba(0, 253, 227, 0.525);
      border-radius: 20px;

      &.showing{
        display: flex;
      }

      .timeline-closed & {
        transform: translateY(-200%);
      }

      transition: all 2s ease;
    }
  }

  &__scroll-list-container {
    position: relative;
    box-sizing: border-box;
    width: 20svw;
    padding-right: 5svw;
    max-width: 300px;
    height: 50svh;
    box-sizing: border-box;

    .scroll-list {
      width: 100%;
      position: absolute;
      top: 2.5svh;
      list-style: none;
      overflow-y: scroll;
      max-height: 100%;

      &::-webkit-scrollbar {
        display: none;
      }

      .timeline-closed & {
        opacity: 0;
        animation-name: listHide;
        animation-duration: 10s;
      }

      transition: all 1.5s ease;

      // &::after {
      //   content: '';
      //   width: 2px;
      //   height: 100%;
      //   display: block;
      //   position: absolute;
      //   top: 0;
      //   right: 2.5svw;
      //   background: linear-gradient(0deg,
      //   rgba(0, 0, 0, 0) 0%,
      //   rgba(186, 186, 186, 1) 25%,
      //   rgba(229, 229, 229, 1) 50%,
      //   rgba(186, 186, 186, 1) 75%,
      //   rgb(0, 0, 0) 100%);
      // }
      &-item {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 7svh;
        width: 70%;
        border: 1px solid var(--gray-700);
        padding-left: 15px;
        font-size: .75em;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}